In [15]:
import pandas as pd
import sqlite3

In [33]:
engine = sqlite3.connect('country_club.sql')

In [35]:
df = pd.read_sql_query("""WITH rev AS (
SELECT
	f. facid,
	(SUM(CASE WHEN b.memid = 0 THEN b.slots ELSE 0 END) * f.guestcost) AS guest_rev,
	(SUM(CASE WHEN b.memid <> 0 THEN b.slots ELSE 0 END) * f.membercost) AS mem_rev,
	(SUM(CASE WHEN b.memid = 0 THEN b.slots ELSE 0 END) * f.guestcost) + (SUM(CASE WHEN b.memid <> 0 THEN b.slots ELSE 0 END) * f.membercost) AS total_rev
FROM Facilities AS f
LEFT JOIN Bookings AS b
ON f.facid = b.facid
GROUP BY f.facid
)

SELECT
	facid,
	total_rev
FROM rev
WHERE total_rev < 1000
ORDER BY total_rev;""", engine)

DatabaseError: Execution failed on sql 'WITH rev AS (
SELECT
	f. facid,
	(SUM(CASE WHEN b.memid = 0 THEN b.slots ELSE 0 END) * f.guestcost) AS guest_rev,
	(SUM(CASE WHEN b.memid <> 0 THEN b.slots ELSE 0 END) * f.membercost) AS mem_rev,
	(SUM(CASE WHEN b.memid = 0 THEN b.slots ELSE 0 END) * f.guestcost) + (SUM(CASE WHEN b.memid <> 0 THEN b.slots ELSE 0 END) * f.membercost) AS total_rev
FROM Facilities AS f
LEFT JOIN Bookings AS b
ON f.facid = b.facid
GROUP BY f.facid
)

SELECT
	facid,
	total_rev
FROM rev
WHERE total_rev < 1000
ORDER BY total_rev;': no such table: Facilities